extends default

block content
  div.course
    each course in courses
      br
      h1.course-name #{course.name}
      a(href=`/courses?id=${course.id}`) View Course
      br
      button(type='button', id="testing", onClick='addCourse()') Add Course
      button(type='button', id="course.name", onClick='dropCourse()') Drop Course
      button(type='button', id="course.name", onClick='swapCourse()') Swap
      br
      <input type="button" id="course.name" value="Add Course" onClick="addCourse(this.id)" >



  script.
    var classes = []

    var inputElement = document.createElement('input');
    inputElement.type = "button"
    inputElement.addEventListener('click', function(name){
        alert(name);
    });

    ​document.body.appendChild(inputElement);​

    function dropCourse() {
      alert('Dropped the courses')
    }
    function swapCourse() {
      alert('Swapped the courses')
    }
