/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}



/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #525286;
  color: #FFFFFF;
  margin-bottom: 50px;
}



/* Homepage Container
   ========================================================================== */

.container {
  margin-left: 50px;
}



/* Index
   ========================================================================== */
.course {
  margin-left: 50px;
}


/* Profile Page
   ========================================================================== */

.classes-desc {
  margin: 25px;
}

.classes-name {
  margin: 25px;
}



/* Buttons
   ========================================================================== */

.button {
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 20px
}

.button-twitter {
  color: #FFFFFF;
  background-color: #659AF1;
  border-radius: 5px;
}
