/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}



/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #0055A2;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.titlebanner {
  width: 100%;
  margin-bottom: 60px;
}



/* Homepage Container
   ========================================================================== */

.container {
  margin-left: 50px;
}



/* Index
   ========================================================================== */
.course {
  background-color: #E6A823;
  float: left;
  width: 300px;
  padding: 20px;
  margin-top: 35px;
  margin-left: 18%;
  margin-bottom: 50px;
}

.my-courses {
  background-color: #E6A823;
  float: left;
  width: 30%;
  padding: 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: 18%;
  margin-right: 50px;
  text-align: left;
}

.content {
  justify-content: center;
}


/* Profile Page
   ========================================================================== */

.classes-desc {
  margin: 25px;
}

.classes-name {
  margin: 25px;
}



/* Buttons
   ========================================================================== */

.button {
  margin-top: 4px;
  margin-right: 6px;
  margin-left: 0px;
  font-size: 12px;
  background-color: lightgray;
  border: dotted white 1px;
}

.button-twitter {
  color: #FFFFFF;
  background-color: #659AF1;
  border-radius: 5px;
}
